/* .error {
    color: red
}

div[fxLayout] {
    margin-top: 32px;
}

.validation-error-item {
    margin-left: 0px;
    list-style-type: none;
}

.validation-error-list {
    padding: 0;
} */