<h2 mat-dialog-title>Edit FMAP Entry</h2>

<div fxLayout="column">
  <form [formGroup]="entryForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div fxLayout="row">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Entry ID:</mat-label>
          <input matInput type="text" formControlName="id" readonly />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="45">
          <mat-label>PERM ID:</mat-label>
          <input matInput type="text" formControlName="permid" required />
          <mat-error *ngIf="permidControl.invalid">PERM ID is missing or invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>FMAP Rate:</mat-label>
          <input matInput type="number" step="0.01" formControlName="fmap" required />
          <mat-error *ngIf="fmapControl.invalid">FMAP rate is missing or invalid</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">      
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Payment Date:</mat-label>
          <input matInput [matDatepicker]="paymentDatePicker" formControlName="paymentDate">
          <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #paymentDatePicker ></mat-datepicker>
          <mat-error *ngIf="paymentDateControl.invalid">{{ getDateErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Screenshot Date:</mat-label>
          <input matInput [matDatepicker]="screenshotDatePicker" formControlName="screenshotDate">
          <mat-datepicker-toggle matSuffix [for]="screenshotDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #screenshotDatePicker ></mat-datepicker>
          <mat-error *ngIf="screenshotDateControl.invalid">{{ getDateErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>      

      <div fxLayout="row">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Eligibility Category:</mat-label>
          <textarea matInput formControlName="eligibilityCategory"></textarea>      
        </mat-form-field>
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" fxFill>
        <button type="button" mat-raised-button [mat-dialog-close]="onNoClick()">Close</button>
        <button mat-raised-button color="primary" cdkFocusInitial>Save</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>